<p id="notice"><%= notice %></p>

<p>
  <b>Purpose:</b>
  <%= @review_purpose.purpose %>
</p>

<p>
  <b>:</b>
  <%= @review_purpose. %>
</p>


<%= link_to 'Edit', edit_review_purpose_path(@review_purpose) %> |
<%= link_to 'Back', review_purposes_path %>
