<h1>Listing swcs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @swcs.each do |swc| %>
  <tr>
    <td><%= swc.name %></td>
    <td><%= link_to 'Show', swc %></td>
    <td><%= link_to 'Edit', edit_swc_path(swc) %></td>
    <td><%= link_to 'Destroy', swc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swc', new_swc_path %>
