<%= form_for(@traffic) do |f| %>
  <% if @traffic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traffic.errors.count, "error") %> prohibited this traffic from being saved:</h2>

      <ul>
      <% @traffic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
