<h1>Listing review_results</h1>

<table>
  <tr>
    <th>Conclusion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @review_results.each do |review_result| %>
  <tr>
    <td><%= review_result.conclusion %></td>
    <td><%= link_to 'Show', review_result %></td>
    <td><%= link_to 'Edit', edit_review_result_path(review_result) %></td>
    <td><%= link_to 'Destroy', review_result, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review result', new_review_result_path %>
