<h1>Listing spls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spls.each do |spl| %>
  <tr>
    <td><%= spl.name %></td>
    <td><%= spl.email %></td>
    <td><%= link_to 'Show', spl %></td>
    <td><%= link_to 'Edit', edit_spl_path(spl) %></td>
    <td><%= link_to 'Destroy', spl, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spl', new_spl_path %>
