<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spl.name %>
</p>

<p>
  <b>Email:</b>
  <%= @spl.email %>
</p>


<%= link_to 'Edit', edit_spl_path(@spl) %> |
<%= link_to 'Back', spls_path %>
