<h1>Listing swas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @swas.each do |swa| %>
  <tr>
    <td><%= swa.name %></td>
    <td><%= swa.email %></td>
    <td><%= link_to 'Show', swa %></td>
    <td><%= link_to 'Edit', edit_swa_path(swa) %></td>
    <td><%= link_to 'Destroy', swa, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swa', new_swa_path %>
