<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @swa.name %>
</p>

<p>
  <b>Email:</b>
  <%= @swa.email %>
</p>


<%= link_to 'Edit', edit_swa_path(@swa) %> |
<%= link_to 'Back', swas_path %>
