<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :handover %><br />
    <%= f.check_box :handover %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= collection_select(:product, :category_id, Category.all, :id,
                   :name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <label for="product_swc">SW Class</label><br />
    <select id="product_swc" name="product[swc]">
      <option value>Please select</option>
      <option value="A+">A+</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :platform_id %><br />
    <%= collection_select(:product, :platform_id, Platform.all, :id, 
                   :hardware, :prompt => true)  %>
  </div>
  <div class="field">
    <label for="product_swa_id">SWA</label><br />
    <%= collection_select(:product, :swa_id, Swa.all, :id, 
                   :name, :prompt => true)  %>
  </div>
  <div class="field">
    <label for="product_spl_id">SPL</label><br />
    <%= collection_select(:product, :spl_id, Spl.all, :id, 
                   :name, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= collection_select(:product, :supplier_id, Supplier.all, :id, 
                   :name, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :volume_forecast %><br />
    <%= f.number_field :volume_forecast %>
  </div>
  <div class="field">
    <%= f.label :folder_ready %><br />
    <%= f.check_box :folder_ready %>
  </div>
  <div class="field">
    <label for="product_pd_plan">PD Plan</label><br />
    <%= f.number_field :pd_plan %>
  </div>
  <div class="field">
    <label for="product_pd_actual">PD Actual</label><br />
    <%= f.number_field :pd_actual %>
  </div>
  <div class="field">
    <label for="product_vpd_plan">VPD Plan</label><br />
    <%= f.number_field :vpd_plan %>
  </div>
  <div class="field">
    <label for="product_vpd_actual">VPD Actual</label><br />
    <%= f.number_field :vpd_actual %>
  </div>
  <div class="field">
    <label for="product_aa_plan">AA Plan</label><br />
    <%= f.number_field :aa_plan %>
  </div>
  <div class="field">
    <label for="product_aa_actual">AA Actual</label><br />
    <%= f.number_field :aa_actual %>
  </div>
  <div class="field">
    <label for="product_ppc_plan">PPC Plan</label><br />
    <%= f.number_field :ppc_plan %>
  </div>
  <div class="field">
    <label for="product_ppc_actual">PPC Actual</label><br />
    <%= f.number_field :ppc_actual %>
  </div>
  <div class="field">
    <label for="product_pv_plan">PV Plan</label><br />
    <%= f.number_field :pv_plan %>
  </div>
  <div class="field">
    <label for="product_pv_actual">PV Actual</label><br />
    <%= f.number_field :pv_actual %>
  </div>
  <div class="field">
    <label for="product_cr_plan">CR Plan</label><br />
    <%= f.number_field :cr_plan %>
  </div>
  <div class="field">
    <label for="product_cr_actual">CR Actual</label><br />
    <%= f.number_field :cr_actual %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
