<p>
Filter: 
<% @cats.each do |cat|  %>
  <a href="/products?by_cat=<%= cat.name %>"><%= cat.name %></a> |
<% end %>
<br />
Show: 
<a href="/products">Short Table</a> |
<a href="/fulltable">Full Table</a>
<!-- <br />
Export: <%= link_to "Excel Table", products_path(format: "xls")  %>
 --></p>

<table id="products" class="display">
  <thead>
  <tr>
    <th>Traffic Light</th>
    <th>Category</th>
    <th>Model</th>
    <th>SW Class</th>
    <th>Description</th>
    <th>SWA</th>
    <th>SPL</th>
    <th>Updated On</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.traffic.name %></td>
    <td><%= product.category.name %></td>
    <td><%= link_to product.model, product_path(product) %></td>
    <td><%= product.swc.name %></td>
    <td><%= product.description %></td>
    <td><%= product.swa.name %></td>
    <td><%= product.spl.name %></td>
    <td><%= product.updated_at.strftime("%Y-%m-%d") %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
  </tr>
<% end %>
  </tbody>
</table>

