<table id="products" class="display">
  <thead>
  <tr>
    <th>Category</th>
    <th>Model</th>
    <th>Swclass</th>
    <th>Description</th>
    <th>Swa</th>
    <th>Spl</th>
    <th>Supplier</th>
    <th>Pd plan</th>
    <th>Pd actual</th>
    <th>Vpd plan</th>
    <th>Vpd actual</th>
    <th>Aa plan</th>
    <th>Aa actual</th>
    <th>Ppc plan</th>
    <th>Ppc actual</th>
    <th>Pv plan</th>
    <th>Pv actual</th>
    <th>Cr plan</th>
    <th>Cr actual</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.category.name %></td>
    <td><%= product.model %></td>
    <td><%= product.swclass_id %></td>
    <td><%= product.description %></td>
    <td><%= product.swa.name %></td>
    <td><%= product.spl.name %></td>
    <td><%= product.supplier.name %></td>
    <td><%= product.pd_plan %></td>
    <td><%= product.pd_actual %></td>
    <td><%= product.vpd_plan %></td>
    <td><%= product.vpd_actual %></td>
    <td><%= product.aa_plan %></td>
    <td><%= product.aa_actual %></td>
    <td><%= product.ppc_plan %></td>
    <td><%= product.ppc_actual %></td>
    <td><%= product.pv_plan %></td>
    <td><%= product.pv_actual %></td>
    <td><%= product.cr_plan %></td>
    <td><%= product.cr_actual %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

