<p>
<!--   Following projects shall be reviewed in week <b>"<%= @week %>"</b> (either the last open milestone is planned in this week; or the last open milestone is expired already; or no plan for milestone/s yet).
 -->
  Following projects shall be reviewed in week <b>"<%= @week %>"</b> (the last actual milestone is in this week).
</p>

<form name="week" action="/milestone" method="get">
Week (YYWW): <input type="text" name="week">
<input type="submit" value="Change Week">
</form>

<table id="products" class="display">
  <thead>
  <tr>
    <th>Traffic Light</th>
    <th>Category</th>
    <th>Model</th>
    <th>SW Class</th>
    <th>Description</th>
    <th>SWA</th>
    <th>SPL</th>
    <th>Project_Status_Summary</th>
    <th>PD</th>
    <th>VPD Plan</th>
    <th>VPD Actual</th>
    <th>AA Plan</th>
    <th>AA Actual</th>
    <th>PPC Plan</th>
    <th>PPPC Actual</th>
    <th>PV Plan</th>
    <th>PV Actual</th>
    <th>CR Plan</th>
    <th>CR Actual</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @products.each do |product| %>

  <!-- find the last open actual milestone -->
  <% if product.cr_actual? %>
  <%    open_milestone = product.cr_actual %>
  <% elsif product.pv_actual? %>
  <%    open_milestone = product.pv_actual %>
  <% elsif product.ppc_actual? %>
  <%    open_milestone = product.ppc_actual %>
  <% elsif product.aa_actual? %>
  <%    open_milestone = product.aa_actual %>
  <% elsif product.vpd_actual? %>
  <%    open_milestone = product.vpd_actual %>
  <% else %>
  <%    open_milestone = "0" %>
  <% end %>

  <!-- if open milestone is in target week, print it -->
  <% if open_milestone.to_i == @week.to_i %>
    <tr>
      <td><%= product.traffic.name %></td>      
      <td><%= product.category.name %></td>
      <td><%= link_to product.model, product_path(product) %></td>
      <td><%= product.swc.name %></td>
      <td><%= product.description %></td>
      <td><%= product.swa.name %></td>
      <td><%= product.spl.name %></td>
      <td><%= truncate(product.project_status, :length => 100) %></td>
      <td><%= product.pd_plan %></td>
      <td><%= product.pd_actual %></td>
      <td><%= product.vpd_plan %></td>
      <td><%= product.aa_plan %></td>
      <td><%= product.aa_actual %></td>
      <td><%= product.ppc_plan %></td>
      <td><%= product.ppc_actual %></td>
      <td><%= product.pv_plan %></td>
      <td><%= product.pv_actual %></td>
      <td><%= product.cr_plan %></td>
      <td><%= product.cr_actual %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
    </tr>
  <% end %>

<% end %>
  </tbody>
</table>
