<p>
    Following products are Pre-Dev products, which SW Class is "PD".
</p>

<table id="products" class="display">
  <thead>
  <tr>
    <th>Category</th>
    <th>Model</th>
    <th>SW Class</th>
    <th>Description</th>
    <th>Base Product</th>
    <th>Supplier</th>
    <th>SWA</th>
    <th>PD</th>
    <th>Project Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.category.name %></td>
    <td><%= link_to product.model, product_path(product) %></td>
    <td><%= product.swc.name %></td>
    <td><%= product.description %></td>
    <td><%= product.BaseProduct %></td>
    <td><%= product.supplier.name %></td>
    <td><%= product.swa.name %></td>
    <td><%= product.pd_plan %></td>
    <td><%= truncate(product.project_status, :length => 100) %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
  </tr>
<% end %>
  </tbody>
</table>

