<div class="depot_form">
  <fieldset>
    <legend> Your Product Information</legend>

    <table>
      <tbody>
        <tr>
          <td>Active:</td>
          <td><%= @product.active %></td>
        </tr>

        <tr>
          <td>Handover:</td>
          <td><%= @product.handover %></td>
        </tr>

        <tr>
          <td>Category:</td>
          <td><%= @product.category.name %></td>
        </tr>

        <tr>
          <td>Model:</td>
          <td><%= @product.model %></td>
        </tr>

        <tr>
          <td>SW Class:</td>
          <td><%= @product.swc %></td>
        </tr>

        <tr>
          <td>Description:</td>
          <td><%= @product.description %></td>
        </tr>

        <tr>
          <td>Platform:</td>
          <td><%= @product.platform_id %></td>
        </tr>

        <tr>
          <td>SWA:</td>
          <td><%= @product.swa.name %></td>
        </tr>

        <tr>
          <td>SPL:</td>
          <td><%= @product.spl.name%><td>
        </tr>

        <tr>
          <td>Supplier:</td>
          <td><%= @product.supplier.name %></td>
        </tr>

        <tr>
          <td>Volume forecast:</td>
          <td><%= @product.volume_forecast %></td>
        </tr>

        <tr>
          <td>Folder ready:</td>
          <td><%= @product.folder_ready %></td>
        </tr>

        <tr>
          <td>PD plan:</td>
          <td><%= @product.pd_plan %></td>
        </tr>

        <tr>
          <td>PD actual:</td>
          <td><%= @product.pd_actual %></td>
        </tr>

        <tr>
          <td>VPD plan:</td>
          <td><%= @product.vpd_plan %></td>
        </tr>

        <tr>
          <td>VPD actual:</td>
          <td><%= @product.vpd_actual %></td>
        </tr>

        <tr>
          <td>AA plan:</td>
          <td><%= @product.aa_plan %></td>
        </tr>

        <tr>
          <td>AA actual:</td>
          <td><%= @product.aa_actual %></td>
        </tr>

        <tr>
          <td>PPPC plan:</td>
          <td><%= @product.ppc_plan %></td>
        </tr>

        <tr>
          <td>PPC actual:</td>
          <td><%= @product.ppc_actual %></td>
        </tr>

        <tr>
          <td>PV plan:</td>
          <td><%= @product.pv_plan %></td>
        </tr>

        <tr>
          <td>PV actual:</td>
          <td><%= @product.pv_actual %></td>
        </tr>

        <tr>
          <td>CR plan:</td>
          <td><%= @product.cr_plan %></td>
        </tr>

        <tr>
          <td>CR actual:</td>
          <td><%= @product.cr_actual %></td>
        </tr>

        <tr>
          <td>Comment:</td>
          <td><%= @product.comment %></td>
        </tr>

      </tbody>
    </table>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>

  </fieldset>
</div>
