<p id="notice"><%= notice %></p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<p>
  <b>Handover:</b>
  <%= @product.handover %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Swclass:</b>
  <%= @product.swclass_id %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Platform:</b>
  <%= @product.platform_id %>
</p>

<p>
  <b>Swa:</b>
  <%= @product.swa_id %>
</p>

<p>
  <b>Spl:</b>
  <%= @product.spl_id %>
</p>

<p>
  <b>Supplier:</b>
  <%= @product.supplier_id %>
</p>

<p>
  <b>Volume forecast:</b>
  <%= @product.volume_forecast %>
</p>

<p>
  <b>Folder ready:</b>
  <%= @product.folder_ready %>
</p>

<p>
  <b>Pd plan:</b>
  <%= @product.pd_plan %>
</p>

<p>
  <b>Pd actual:</b>
  <%= @product.pd_actual %>
</p>

<p>
  <b>Vpd plan:</b>
  <%= @product.vpd_plan %>
</p>

<p>
  <b>Vpd actual:</b>
  <%= @product.vpd_actual %>
</p>

<p>
  <b>Aa plan:</b>
  <%= @product.aa_plan %>
</p>

<p>
  <b>Aa actual:</b>
  <%= @product.aa_actual %>
</p>

<p>
  <b>Ppc plan:</b>
  <%= @product.ppc_plan %>
</p>

<p>
  <b>Ppc actual:</b>
  <%= @product.ppc_actual %>
</p>

<p>
  <b>Pv plan:</b>
  <%= @product.pv_plan %>
</p>

<p>
  <b>Pv actual:</b>
  <%= @product.pv_actual %>
</p>

<p>
  <b>Cr plan:</b>
  <%= @product.cr_plan %>
</p>

<p>
  <b>Cr actual:</b>
  <%= @product.cr_actual %>
</p>

<p>
  <b>Comment:</b>
  <%= @product.comment %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
