<div class="depot_form">
  <fieldset>
    <legend> Your Product Information</legend>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<p>
  <b>Handover:</b>
  <%= @product.handover %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>SW Class:</b>
  <%= @product.swclass_id %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Platform:</b>
  <%= @product.platform_id %>
</p>

<p>
  <b>SWA:</b>
  <%= @product.swa.name %>
</p>

<p>
  <b>SPL:</b>
  <%= @product.spl.name%>
</p>

<p>
  <b>Supplier:</b>
  <%= @product.supplier.name %>
</p>

<p>
  <b>Volume forecast:</b>
  <%= @product.volume_forecast %>
</p>

<p>
  <b>Folder ready:</b>
  <%= @product.folder_ready %>
</p>

<p>
  <b>PD plan:</b>
  <%= @product.pd_plan %>
</p>

<p>
  <b>PD actual:</b>
  <%= @product.pd_actual %>
</p>

<p>
  <b>VPD plan:</b>
  <%= @product.vpd_plan %>
</p>

<p>
  <b>VPD actual:</b>
  <%= @product.vpd_actual %>
</p>

<p>
  <b>AA plan:</b>
  <%= @product.aa_plan %>
</p>

<p>
  <b>AA actual:</b>
  <%= @product.aa_actual %>
</p>

<p>
  <b>PPPC plan:</b>
  <%= @product.ppc_plan %>
</p>

<p>
  <b>PPC actual:</b>
  <%= @product.ppc_actual %>
</p>

<p>
  <b>PV plan:</b>
  <%= @product.pv_plan %>
</p>

<p>
  <b>PV actual:</b>
  <%= @product.pv_actual %>
</p>

<p>
  <b>CR plan:</b>
  <%= @product.cr_plan %>
</p>

<p>
  <b>CR actual:</b>
  <%= @product.cr_actual %>
</p>

<p>
  <b>Comment:</b>
  <%= @product.comment %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

  </fieldset>
</div>
