<div class="depot_form">
  <fieldset>
    <legend> Your Product Information</legend>

    <table>
      <tbody>
        <tr>
          <td>Active:</td>
          <td><%= @product.active %></td>
        </tr>

        <tr>
          <td>Traffic Light:</td>
          <td><%= @product.traffic.name %></td>
        </tr>

        <tr>
          <td>Handover:</td>
          <td><%= @product.handover %></td>
        </tr>

        <tr>
          <td>Category:</td>
          <td><%= @product.category.name %></td>
        </tr>

        <tr>
          <td>Model:</td>
          <td><%= @product.model %></td>
        </tr>

        <tr>
          <td>Description:</td>
          <td><%= @product.description %></td>
        </tr>

        <tr>
          <td>CMM:</td>
          <td><%= @product.cmm.name %></td>
        </tr>

        <tr>
          <td>SW Class:</td>
          <td><%= @product.swc.name %></td>
        </tr>

        <tr>
          <td>SW Class is confirmed by SPL:</td>
          <td><%= @product.swccomfirmed %></td>
        </tr>

        <tr>
          <td>Base Product:</td>
          <td><%= @product.BaseProduct %></td>
        </tr>

        <tr>
          <td>Changes From Base Product:</td>
          <td><%= @product.ChangesFromBaseProduct %></td>
        </tr>

        <tr>
          <td>App Name & Version:</td>
          <td><%= @product.AppNameVersion %></td>
        </tr>

        <tr>
          <td>New Platform:</td>
          <td><%= @product.NewPlatform %></td>
        </tr>

        <tr>
          <td>New SDK:</td>
          <td><%= @product.NewSDK %></td>
        </tr>

        <tr>
          <td>New ODM:</td>
          <td><%= @product.NewODM %></td>
        </tr>

        <tr>
          <td>New IDH:</td>
          <td><%= @product.NewIDH %></td>
        </tr>

        <tr>
          <td>New App:</td>
          <td><%= @product.NewApp %></td>
        </tr>

        <tr>
          <td>SWA:</td>
          <td><%= @product.swa.name %></td>
        </tr>

        <tr>
          <td>SPL:</td>
          <td><%= @product.spl.name%><td>
        </tr>

        <tr>
          <td>Processor:</td>
          <td><%= @product.platform.hardware %></td>
        </tr>

        <tr>
          <td>Comment:</td>
          <td><%= @product.comment %></td>
        </tr>

        <tr>
          <td>KC #1:</td>
          <td><%= @kc1 %></td>
        </tr>

        <tr>
          <td>Comment:</td>
          <td><%= @product.kc1c %></td>
        </tr>

        <tr>
          <td>KC #2:</td>
          <td><%= @kc2 %></td>
        </tr>

        <tr>
          <td>Comment:</td>
          <td><%= @product.kc2c %></td>
        </tr>

        <tr>
          <td>KC #3:</td>
          <td><%= @kc3 %></td>
        </tr>

        <tr>
          <td>Comment:</td>
          <td><%= @product.kc3c %></td>
        </tr>

        <tr>
          <td>Supplier:</td>
          <td><%= @product.supplier.name %></td>
        </tr>

        <tr>
          <td>IDH:</td>
          <td><%= @product.idh.name %></td>
        </tr>

<!--         <tr>
          <td>Volume forecast:</td>
          <td><%= @product.volume_forecast %></td>
        </tr>

        <tr>
          <td>Folder ready:</td>
          <td><%= @product.folder_ready %></td>
        </tr>
 -->
        <tr>
          <td>PD:</td>
          <td><%= @product.pd_plan %></td>
        </tr>

<!--         <tr>
          <td>PD actual:</td>
          <td><%= @product.pd_actual %></td>
        </tr>
 -->
<!--         <tr>
          <td>VPD plan:</td>
          <td><%= @product.vpd_plan %></td>
        </tr>

        <tr>
          <td>VPD actual:</td>
          <td><%= @product.vpd_actual %></td>
        </tr>

        <tr>
          <td>AA plan:</td>
          <td><%= @product.aa_plan %></td>
        </tr>

        <tr>
          <td>AA actual:</td>
          <td><%= @product.aa_actual %></td>
        </tr>

        <tr>
          <td>PPC plan:</td>
          <td><%= @product.ppc_plan %></td>
        </tr>

        <tr>
          <td>PPC actual:</td>
          <td><%= @product.ppc_actual %></td>
        </tr>

        <tr>
          <td>PV plan:</td>
          <td><%= @product.pv_plan %></td>
        </tr>

        <tr>
          <td>PV actual:</td>
          <td><%= @product.pv_actual %></td>
        </tr>

        <tr>
          <td>CR plan:</td>
          <td><%= @product.cr_plan %></td>
        </tr>

        <tr>
          <td>CR actual:</td>
          <td><%= @product.cr_actual %></td>
        </tr> -->
        
        <tr>
          <td valign="top">Milestones:</td>
          <td>
              <table border="1" cellpadding="3" cellspacing="30" style="border:1px;border-collapse:collapse;">
              <tr align="center" style="background-color:lightgray;">
                <td>VPD</td>
                <td>AA</td>
                <td>PPC</td>
                <td>PV</td>
                <td>CR</td>
                <td></td>
              </tr>
              <tr>
                <td><%= @product.vpd_actual %></td>
                <td><%= @product.aa_vpd %></td>
                <td><%= @product.ppc_vpd %></td>
                <td><%= @product.pv_vpd %></td>
                <td><%= @product.cr_vpd %></td>
                <td>@VPD</td>
              </tr>
              <tr>
                <td style="background-color:lightgray;"></td>
                <td><%= @product.aa_actual %></td>
                <td><%= @product.ppc_aa %></td>
                <td><%= @product.pv_aaa %></td>
                <td><%= @product.cr_aa %></td>
                <td>@AA</td>
              </tr>
              <tr>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td><%= @product.ppc_actual %></td>
                <td><%= @product.pv_ppc %></td>
                <td><%= @product.cr_ppc %></td>
                <td>@PPC</td>
              </tr>
              <tr>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td><%= @product.pv_actual %></td>
                <td><%= @product.cr_pv %></td>
                <td>@PV</td>
              </tr>
              <tr>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td style="background-color:lightgray;"></td>
                <td><%= @product.cr_actual %></td>
                <td>@CR</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top">Status:</td>
          <td><%= simple_format(@product.project_status) %></td>
        </tr>

      </tbody>
    </table>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>

  </fieldset>
</div>
