<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= collection_select(:review, :product_id, Product.all, :id, 
                   :model, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :milestone_id %><br />
    <%= collection_select(:review, :milestone_id, Milestone.all, :id, 
                   :name, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :reviewpurpose_id %><br />
    <%= collection_select(:review, :reviewpurpose_id, ReviewPurpose.all, :id, 
                   :reviewpurpose, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :planned_date %><br />
    <%= f.date_select :planned_date %>
  </div>
  <div class="field">
    <%= f.label :actual_date %><br />
    <%= f.date_select :actual_date %>
  </div>
  <div class="field">
    <%= f.label :reviewresult_id %><br />
    <%= collection_select(:review, :reviewresult_id, ReviewResult.all, :id, 
                   :conclusion, :prompt => true)  %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
