<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :milestone_id %><br />
    <%= f.number_field :milestone_id %>
  </div>
  <div class="field">
    <%= f.label :reviewtype_id %><br />
    <%= f.number_field :reviewtype_id %>
  </div>
  <div class="field">
    <%= f.label :planned_date %><br />
    <%= f.date_select :planned_date %>
  </div>
  <div class="field">
    <%= f.label :actual_date %><br />
    <%= f.date_select :actual_date %>
  </div>
  <div class="field">
    <%= f.label :reviewresult_id %><br />
    <%= f.number_field :reviewresult_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
