<!DOCTYPE html>
<html>
  <head>
    <title>Project Scorecard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="store">
    <div id="banner">
      <%= image_tag("logo.gif") %>
      <%= @page_title || "Project Scorecard" %>
    </div>
    <div id="columns">
      <div id="side">
        <a href="/milestone">Milestone Review</a> <br />
        <a href="/predev">Pre-Dev Products</a> <br />
        <%= link_to 'Active Products', products_path %> <br />
<!--         <a href="/products?created_at=1">New Created</a> <br />        
        <a href="/products?updated_at=1">New Updated</a> <br />        
 -->        
        <a href="/summary">Summary</a> <br />
        <%= link_to 'Create Product', new_product_path %> <br />
        <a href="/products?inactive=1">Inactive Products</a> <br />        
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
