<!DOCTYPE html>
<html>
<head>
  <title>Project Scorecard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
  <div id="banner">
     <%= image_tag("logo.gif") %>
     <%= @page_title || "Project Scorecard" %>
  </div>
  <div id="columns">
    <div id="side">
      <%= link_to 'All Products', products_path %> <br />
      <!-- <a href="/products?is_active=true">Active Products</a> <br /> -->
      <!-- <a href="/products?not_active=true">Inactive Products</a> <br /> -->
      <a href="/products?new_created=true">Created This Week</a> <br />
      <!-- <a href="/products?old_created=true">Created Before</a> <br /> -->
      <a href="/products?new_updated=true">Updated This Week</a> <br />
      <!-- <a href="/products?old_updated=true">Updated Before</a> <br /> -->
      <%= link_to 'New Product', new_product_path %> <br />
      <!-- <br /> -->
      <!-- <%= link_to 'All Reviews', reviews_path %> <br /> -->
      <!-- <%= link_to 'New Review', new_review_path %> <br /> -->
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>

</html>
