<!DOCTYPE html>
<html>
  <head>
    <title>Project Scorecard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="store">
    <div id="banner">
      <%= image_tag("logo.gif") %>
      <%= @page_title || "Project Scorecard" %>
    </div>
    <div id="columns">
      <div id="side">
        <form name="input" action="/products" method="get">
          <select name="by_cat">
            <option value="C35_PAV">C35_PAV</option>
            <option value="C36_Docking">C36_Docking</option>
            <option value="C40_Clock">C40_Clock</option>
            <option value="C52_In-Car">C52_In-Car</option>
            <option value="C54_Micor">C54_Micro</option>
            <option value="C77_HMP">C77_HMP</option>
            <option value="D75_Tablet">D75_Tablet</option>
            <option value="E56_DV">E56_DV</option>
          </select>
          <input type="submit" value="Filter">
        </form>
        <%= link_to 'All Products', products_path %> <br />
        <a href="/products?new_created=true">Created This Week</a> <br />
        <a href="/products?new_updated=true">Updated This Week</a> <br />
        <%= link_to 'New Product', new_product_path %> <br />
        <!-- <br /> -->
        <!-- <%= link_to 'All Reviews', reviews_path %> <br /> -->
        <!-- <%= link_to 'New Review', new_review_path %> <br /> -->
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
